<div class="row mt-5">
	<div class="col-md-12 mx-auto" *ngIf="msgError">
		<div class="alert alert-danger" role="alert">
			<strong> {{messageError}} </strong>
			<button type="button" class="close" (click)="alertDissmiss()" aria-label="Close">
				<span aria-hidden="true"> &times;</span>
			</button>
		</div>
	</div>
    <div class="col-md-12 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form" #registerForm="ngForm" novalidate (ngSubmit)="registerUser()">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label class=" font-weight-bold" for="pre">Prénom</label>
                          <input type="text" [(ngModel)]="registerUserData.prenom" #prenom="ngModel" name="prenom"
                                [class.is-invalid]="prenom.invalid && prenom.touched" class="form-control" id="pre" placeholder="Ton prénom" required>
                          <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="text-danger">
                            <small> Fournir un prenom</small>
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class=" font-weight-bold" for="validationCustom02">Nom</label>
                            <input type="text" [(ngModel)]="registerUserData.nom" #nom="ngModel" name="nom" class="form-control" 
                                [class.is-invalid]="nom.invalid && nom.touched" id="validationCustom02" placeholder="Ton nom" required>
                            <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="text-danger">
                                <small>Fournir un Nom </small>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class=" font-weight-bold" for="validationCustomUsername">Adresse Mail</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
							<input [(ngModel)]="registerUserData.email" #email="ngModel" email="true" type="email" class="form-control" name="email" 
								[class.is-invalid]="email.invalid && email.touched" id="validationCustomUsername" placeholder="Ton email" aria-describedby="inputGroupPrepend" required>
							<div *ngIf="email.invalid && email.touched" class="text-danger">
                            	<small>Votre email est erroné</small> 
                            </div>
                          </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label class=" font-weight-bold" for="validationCustom03">Password</label>
						  <input type="password" [(ngModel)]="registerUserData.password" #password="ngModel" name="password" 
							[class.is-invalid]="password.invalid && password.touched" class="form-control" id="validationCustom03" placeholder="Votre password" required>
                          <div *ngIf="password.invalid && password.touched" class="text-danger">
                            <small>Entrer password</small> 
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class=" font-weight-bold" for="validationCustom04">Confirm Password</label>
                          <input type="password" [(ngModel)]="registerUserData.confirm_password" [class.is-invalid]="confirm_password.invalid && confirm_password.touched" #confirm_password="ngModel" name="confirm_password" class="form-control" id="validationCustom04" placeholder="Confirmer votre password" required>
						</div>
						<div *ngIf="password.invalid && password.touched" class="text-danger">
                            <small>confirmer password</small> 
                          </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label class=" font-weight-bold" for="validationCustom03">Adresse</label>
						  <input [(ngModel)]="registerUserData.adresse" #adresse="ngModel" name="adresse" type="text" 
						  	[class.is-invalid]="adresse.invalid && adresse.touched" class="form-control" id="validationCustom03" placeholder="Votre adresse" required>
                          <div *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)" class="text-danger">
                            <small>Fournir votre adresse.</small> 
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class=" font-weight-bold" for="validationCustom04">Ville</label>
						  <input [(ngModel)]="registerUserData.ville" #ville="ngModel" name="ville" 
						  [class.is-invalid]="ville.invalid && ville.touched" type="text" class="form-control" id="validationCustom04" placeholder="Ville" required>
                          <div *ngIf="ville.invalid && (ville.dirty || ville.touched)" class="text-danger">
                            <small>Fournir votre ville</small> .
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class="font-weight-bold" for="validationCustom05">Code Postal</label>
						  <input [(ngModel)]="registerUserData.postal" #postal ="ngModel" name="postal" 
						  [class.is-invalid]="postal.invalid && postal.touched" type="number" pattern="^\d{5}$" class="form-control" id="validationCustom05" placeholder="Code postal" required>
                          <div *ngIf="postal.errors && (postal.invalid && postal.touched)" class="text-danger">
							<small *ngIf="postal.errors.required"> Fournir un code postal</small>
							<small *ngIf="postal.errors.pattern">Le code postal doit avoir 5 chiffres</small>
						  </div>
						  
						</div>
                    </div>

                    <button [disabled] = "registerForm.form.invalid" type="submit" class="btn btn-primary float-right btn-lg btn-block">Register</button>
                </form>
            </div>
        </div>        
    </div>
</div>
