<div class="row mt-5 mx-auto">
	<div class="col-md-12 mx-auto" *ngIf="msgError">
		<div class="alert alert-danger" role="alert">
			<strong> {{messageError}} </strong>
			<button type="button" class="close" (click)="alertDissmiss()" aria-label="Close">
				<span aria-hidden="true"> &times;</span>
			</button>
		</div>
	</div>
    <div class="col-md-12 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Create un Event</h3>
            </div>
            <div class="card-body">
                <form class="form" #eventForm="ngForm" novalidate enctype="multipart/form-data" (ngSubmit)="registerEvent()">
                    
                  <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label class=" font-weight-bold" for="pre">Nom</label>
                          <input type="text" [(ngModel)]="eventData.name " #name="ngModel" name="name"
                                [class.is-invalid]="name.invalid && name.touched" class="form-control" id="pre" placeholder="event name" required>
                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                            <small> Fournir un nom </small>
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class=" font-weight-bold" for="validationCustom02">Tarif</label>
                            <input type="text" [(ngModel)]="eventData.tarif" #tarif="ngModel" name="tarif" class="form-control" 
                                [class.is-invalid]="tarif.invalid && tarif.touched" id="validationCustom02" placeholder="vos trifs" required>
                            <div *ngIf="tarif.invalid && (tarif.dirty || tarif.touched)" class="text-danger">
                                <small>Fournir des tarif </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label class=" font-weight-bold" for="startDate">Start date</label>
                          <input type="text" bsDatepicker [(ngModel)]="eventData.startDate" #startDate="ngModel" name="startDate"
                            [class.is-invalid]="startDate.invalid && startDate.touched" class="form-control" id="startDay" placeholder="start date" required
                            [bsConfig]="bsConfig" >
                          <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="text-danger">
                            <small> Renseigner ce champ </small>
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class=" font-weight-bold" for="endDate">End date</label>
                            <input type="text" bsDatepicker [(ngModel)]="eventData.endDate" #endDate="ngModel" name="endDate"
                                  [class.is-invalid]="endDate.invalid && endDate.touched" class="form-control" id="endDate" placeholder="end date" required
                                  [bsConfig]="bsConfig">
                            <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="text-danger">
                              <small> Renseigner ce champ </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-5 mb-3">
                          <label class=" font-weight-bold" for="localisation">Localisation</label>
                          <input type="text" [(ngModel)]="eventData.localisation " #localisation="ngModel" name="localisation"
                                [class.is-invalid]="localisation.invalid && localisation.touched" class="form-control" id="pre" placeholder="event localisation" required>
                          <div *ngIf="localisation.invalid && (localisation.dirty || localisation.touched)" class="text-danger">
                            <small> Fournir un nom </small>
                          </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label class=" font-weight-bold" for="infoPratique">Infos pratique</label>
                            <textarea type="text" [(ngModel)]="eventData.infoPratique" #infoPratique="ngModel" name="infoPratique" class="form-control" 
                                id="infoPratique" placeholder="Infos pratique">
                            </textarea>
                        </div>
                        <div class="col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="eventData.special" #special="ngModel" class="custom-control-input" name="special" id="customCheck1">
                                <label class="custom-control-label font-weight-bold" for="customCheck1">Special event</label>
                              </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label class=" font-weight-bold" for="validationCustom03">Description</label>
						  <textarea [(ngModel)]="eventData.description" #description="ngModel" name="description" 
                            [class.is-invalid]="description.invalid && description.touched" class="form-control" id="validationCustom03" placeholder="Votre description" required>
                            </textarea>
                          <div *ngIf="description.invalid && description.touched" class="text-danger">
                            <small>Entrer une description</small> 
                          </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <span class="text-success p-2">{{imageVal}}</span>
                            <div class="custom-file">
                               
                                <input type="file" #file class="custom-file-input" name="image" id="customFile" (change)="onFileChanged($event)"
                                  required> 
                                <label class="custom-file-label" for="customFile">Choisir une image</label>
                            </div>
                        </div>
                    </div>
                    
                    <button [disabled] = "eventForm.form.invalid" type="submit" class="btn btn-primary float-right btn-lg btn-block">Register</button>
                </form>
            </div>
        </div>        
    </div>
</div>
