<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Eventhub</a>
  <button class="navbar-toggler" type="button" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="events" routerLinkActive="active">Events <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Members <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!isloggedIN()" routerLink="/login" routerLinkActive="active">Login <span class="sr-only">(current)</span></a>
        <a class="nav-link"  *ngIf="!isloggedIN()"routerLink="/register" routerLinkActive="active">Register <span class="sr-only">(current)</span></a>
        <button class="btn btn-link text-white" *ngIf="isloggedIN()" routerLinkActive="active" (click)= "logout()">Logout <span class="sr-only">(current)</span></button>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
