<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular9</a>
  <button class="navbar-toggler" type="button" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="my-nav" class="collapse navbar-collapse font-weight-bold text-uppercase">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="events" routerLinkActive="active">Events <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Members <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav">
        <a class="nav-link font-weight-bold" *ngIf="!isloggedIN()" routerLink="/login" routerLinkActive="active"> 
          <svg class="bi bi-person-fill  text-success" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
          </svg>
          Login <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link font-weight-bold"  *ngIf="!isloggedIN()"routerLink="/register" routerLinkActive="active">Register <span class="sr-only">(current)</span></a>
        <a class="nav-link text-white cursor-pointer" role="button" *ngIf="isloggedIN()" routerLinkActive="active" (click)= "logout()"> {{getUserName()}} <span class="sr-only">(current)</span>
          <svg class="bi bi-power text-danger font-weight-bold" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd"/>
          </svg>
        </a>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
