<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of events">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.description}}</p>
                <a href="" class="btn btn-primary">Buy Tickets</a>
            </div>
            <div class="card-footer text-muted">
                {{event.date | date : 'short'}}
            </div>
        </div>
    </div>

    <div class="col-md-10 mx-auto mt-5">
        <nav aria-label="Page navigation example">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center pagination-lg">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                    <a routerLink = '/events' [queryParams]="{ page: 1 }" class="page-link">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                    <a routerLink = '/events' [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                    <a routerLink = '/events' [queryParams]="{ page: page }" class="page-link">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                    <a routerLink = '/events' [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                    <a routerLink = '/events' [queryParams]="{ page: pager.totalPages }" class="page-link">Last</a>
                </li>
            </ul>
        </nav>
    </div>

</div>